################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocumentManager/.vs/DocumentManager
/DocumentManager/obj
/DocumentManager/bin/Debug/netcoreapp3.1
