################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocumentManager/.vs/DocumentManager
/DocumentManager/obj
/DocumentManager/bin/Debug/netcoreapp3.1
/DocumentManager/common
/DocumentManager/XML_SOLCANMA
/DocumentManager/XML_SOLCREES
/DocumentManager/XML_SOLGRA
/DocumentManager/XML_SOLI
/DocumentManager/XML_SOLMAAC
/DocumentManager/XML_SOLMAFI
/DocumentManager/files
/DocumentManager/OUT_LOG/midPriorityLog.txt
/DocumentManager/OUT_LOG/lowPriorityLog.txt
/DocumentManager/OUT_LOG/highPriorityLog.txt
/DocumentManager/OUT_SOLCANMA/Solicitud de cancelacion matricula 9.xml
/DocumentManager/OUT_SOLCANMA/Solicitud de cancelacion matricula 8.xml
/DocumentManager/OUT_SOLCANMA/Solicitud de cancelacion matricula 7.xml
/DocumentManager/OUT_SOLCANMA/Solicitud de cancelacion matricula 6.xml
/DocumentManager/OUT_SOLCANMA/Solicitud de cancelacion matricula 5.xml
/DocumentManager/OUT_SOLCANMA/Solicitud de cancelacion matricula 4.xml
/DocumentManager/OUT_SOLCANMA/Solicitud de cancelacion matricula 2.xml
/DocumentManager/OUT_SOLCANMA/Solicitud de cancelacion matricula 1.xml
/DocumentManager/OUT_SOLCANMA/Solicitud de cancelacion matricula 0.xml
/DocumentManager/OUT_SOLCREES/Solicitud de creacion estudiante 9.xml
/DocumentManager/OUT_SOLCREES/Solicitud de creacion estudiante 8.xml
/DocumentManager/OUT_SOLCREES/Solicitud de creacion estudiante 7.xml
/DocumentManager/OUT_SOLCREES/Solicitud de creacion estudiante 6.xml
/DocumentManager/OUT_SOLCREES/Solicitud de creacion estudiante 5.xml
/DocumentManager/OUT_SOLCREES/Solicitud de creacion estudiante 4.xml
/DocumentManager/OUT_SOLCREES/Solicitud de creacion estudiante 3.xml
/DocumentManager/OUT_SOLCREES/Solicitud de creacion estudiante 2.xml
/DocumentManager/OUT_SOLCREES/Solicitud de creacion estudiante 1.xml
/DocumentManager/OUT_SOLCREES/Solicitud de creacion estudiante 0.xml
/DocumentManager/OUT_SOLGRA/Solicitud de graduacion 9.xml
/DocumentManager/OUT_SOLGRA/Solicitud de graduacion 8.xml
/DocumentManager/OUT_SOLGRA/Solicitud de graduacion 7.xml
/DocumentManager/OUT_SOLGRA/Solicitud de graduacion 6.xml
/DocumentManager/OUT_SOLGRA/Solicitud de graduacion 5.xml
/DocumentManager/OUT_SOLGRA/Solicitud de graduacion 4.xml
/DocumentManager/OUT_SOLGRA/Solicitud de graduacion 3.xml
/DocumentManager/OUT_SOLGRA/Solicitud de graduacion 2.xml
/DocumentManager/OUT_SOLGRA/Solicitud de graduacion 1.xml
/DocumentManager/OUT_SOLGRA/Solicitud de graduacion 0.xml
/DocumentManager/OUT_SOLI/Solicitud de inscripción 9.xml
/DocumentManager/OUT_SOLI/Solicitud de inscripción 8.xml
/DocumentManager/OUT_SOLI/Solicitud de inscripción 7.xml
/DocumentManager/OUT_SOLI/Solicitud de inscripción 6.xml
/DocumentManager/OUT_SOLI/Solicitud de inscripción 5.xml
/DocumentManager/OUT_SOLI/Solicitud de inscripción 4.xml
/DocumentManager/OUT_SOLI/Solicitud de inscripción 3.xml
/DocumentManager/OUT_SOLI/Solicitud de inscripción 2.xml
/DocumentManager/OUT_SOLI/Solicitud de inscripción 1.xml
/DocumentManager/OUT_SOLI/Solicitud de inscripción 0.xml
/DocumentManager/OUT_SOLMAAC/Solicitud de matricula academica 9.xml
/DocumentManager/OUT_SOLMAAC/Solicitud de matricula academica 8.xml
/DocumentManager/OUT_SOLMAAC/Solicitud de matricula academica 7.xml
/DocumentManager/OUT_SOLMAAC/Solicitud de matricula academica 6.xml
/DocumentManager/OUT_SOLMAAC/Solicitud de matricula academica 5.xml
/DocumentManager/OUT_SOLMAAC/Solicitud de matricula academica 4.xml
/DocumentManager/OUT_SOLMAAC/Solicitud de matricula academica 3.xml
/DocumentManager/OUT_SOLMAAC/Solicitud de matricula academica 2.xml
/DocumentManager/OUT_SOLMAAC/Solicitud de matricula academica 1.xml
/DocumentManager/OUT_SOLMAAC/Solicitud de matricula academica 0.xml
/DocumentManager/OUT_SOLMAFI/Solicitud de matricula financiera 9.xml
/DocumentManager/OUT_SOLMAFI/Solicitud de matricula financiera 8.xml
/DocumentManager/OUT_SOLMAFI/Solicitud de matricula financiera 7.xml
/DocumentManager/OUT_SOLMAFI/Solicitud de matricula financiera 6.xml
/DocumentManager/OUT_SOLMAFI/Solicitud de matricula financiera 5.xml
/DocumentManager/OUT_SOLMAFI/Solicitud de matricula financiera 4.xml
/DocumentManager/OUT_SOLMAFI/Solicitud de matricula financiera 3.xml
/DocumentManager/OUT_SOLMAFI/Solicitud de matricula financiera 2.xml
/DocumentManager/OUT_SOLMAFI/Solicitud de matricula financiera 1.xml
/DocumentManager/OUT_SOLMAFI/Solicitud de matricula financiera 0.xml
